apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "donetick.fullname" . }}-configmap
  labels:
    {{- include "donetick.labels" . | nindent 4 }}
data:
  selfhosted.yaml: |
    name: {{ .Values.config.name | quote }}
    is_done_tick_dot_com: {{ .Values.config.is_done_tick_dot_com }}
    is_user_creation_disabled: {{ .Values.config.is_user_creation_disabled }}
    telegram:
      token: {{ .Values.config.telegram.token | default "" | quote }}
    pushover:
      token: {{ .Values.config.pushover.token | default "" | quote }}
    database:
      type: {{ .Values.config.database.type | default "sqlite" | quote }}
      migration: {{ .Values.config.database.migration }}
      {{- if .Values.config.database.migration_skip }}
      migration_skip: {{ .Values.config.database.migration_skip }}
      {{- end }}
      {{- if .Values.config.database.migration_retry }}
      migration_retry: {{ .Values.config.database.migration_retry }}
      {{- end }}
      {{- if eq .Values.config.database.type "postgres" }}
      {{- if not .Values.config.database.secrets.existingSecret }}
      host: {{ .Values.config.database.host | quote }}
      port: {{ .Values.config.database.port }}
      user: {{ .Values.config.database.user | quote }}
      password: {{ .Values.config.database.password | quote }}
      name: {{ .Values.config.database.name | quote }}
      {{- else }}
      # Database host, port, and name from values, credentials from Secret
      host: {{ .Values.config.database.host | quote }}
      port: {{ .Values.config.database.port }}
      name: {{ .Values.config.database.name | quote }}
      # Username and password will be injected via environment variables from Secret
      {{- end }}
      {{- end }}
    jwt:
      {{- if .Values.config.jwt.existingSecret }}
      # Secret will be injected from Secret
      {{- else }}
      secret: {{ .Values.config.jwt.secret | quote }}
      {{- end }}
      session_time: {{ .Values.config.jwt.session_time | quote }}
      max_refresh: {{ .Values.config.jwt.max_refresh | quote }}
    server:
      port: {{ .Values.config.server.port }}
      read_timeout: {{ .Values.config.server.read_timeout | quote }}
      write_timeout: {{ .Values.config.server.write_timeout | quote }}
      rate_period: {{ .Values.config.server.rate_period | quote }}
      rate_limit: {{ .Values.config.server.rate_limit }}
      cors_allow_origins:
        {{- range .Values.config.server.cors_allow_origins }}
        - {{ . | quote }}
        {{- end }}
      serve_frontend: {{ .Values.config.server.serve_frontend }}
    scheduler_jobs:
      due_job: {{ .Values.config.scheduler_jobs.due_job | quote }}
      overdue_job: {{ .Values.config.scheduler_jobs.overdue_job | quote }}
      pre_due_job: {{ .Values.config.scheduler_jobs.pre_due_job | quote }}
    email:
      host: {{ .Values.config.email.host | default "" | quote }}
      port: {{ .Values.config.email.port | default "" | quote }}
      key: {{ .Values.config.email.key | default "" | quote }}
      email: {{ .Values.config.email.email | default "" | quote }}
      appHost: {{ .Values.config.email.appHost | default "" | quote }}
    oauth2:
      {{- if .Values.config.oauth2.existingSecret }}
      client_id: $DT_OAUTH2_CLIENT_ID
      client_secret: $DT_OAUTH2_CLIENT_SECRET
      {{- else }}
      client_id: {{ .Values.config.oauth2.client_id | default "" | quote }}
      client_secret: {{ .Values.config.oauth2.client_secret | default "" | quote }}
      {{- end }}
      auth_url: {{ .Values.config.oauth2.auth_url | default "" | quote }}
      token_url: {{ .Values.config.oauth2.token_url | default "" | quote }}
      user_info_url: {{ .Values.config.oauth2.user_info_url | default "" | quote }}
      redirect_url: {{ .Values.config.oauth2.redirect_url | default "" | quote }}
      name: {{ .Values.config.oauth2.name | default "" | quote }}
    realtime:
      max_connections: {{ .Values.config.realtime.max_connections }}
      ping_interval: {{ .Values.config.realtime.ping_interval | quote }}
      pong_wait: {{ .Values.config.realtime.pong_wait | quote }}
      write_wait: {{ .Values.config.realtime.write_wait | quote }}
      max_message_size: {{ .Values.config.realtime.max_message_size }}
    logging:
      level: {{ .Values.config.logging.level | quote }}
      format: {{ .Values.config.logging.format | quote }}
    storage:
      type: {{ .Values.config.storage.type | quote }}
      path: {{ .Values.config.storage.path | quote }}
    features:
      notifications: {{ .Values.config.features.notifications }}
      realtime: {{ .Values.config.features.realtime }}
      oauth: {{ .Values.config.features.oauth }}