apiVersion: v1
kind: Secret
metadata:
  name: {{ include "norish.fullname" . }}-secret
  labels:
    {{- include "norish.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if not .Values.config.masterKey.existingSecret }}
  master-key: {{ .Values.config.masterKey.value | required "config.masterKey.value is required when config.masterKey.existingSecret is not set" | quote }}
  {{- end }}
  {{- if not .Values.database.existingSecret }}
  database-url: {{ include "norish.databaseUrl" . | quote }}
  {{- end }}
  {{- if .Values.config.auth.oidc.enabled }}
  {{- if not .Values.config.auth.oidc.existingSecret }}
  oidc-client-id: {{ .Values.config.auth.oidc.clientId | quote }}
  oidc-client-secret: {{ .Values.config.auth.oidc.clientSecret | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.config.auth.github.enabled }}
  {{- if not .Values.config.auth.github.existingSecret }}
  github-client-id: {{ .Values.config.auth.github.clientId | quote }}
  github-client-secret: {{ .Values.config.auth.github.clientSecret | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.config.auth.google.enabled }}
  {{- if not .Values.config.auth.google.existingSecret }}
  google-client-id: {{ .Values.config.auth.google.clientId | quote }}
  google-client-secret: {{ .Values.config.auth.google.clientSecret | quote }}
  {{- end }}
  {{- end }}
